---
import ContactCta from "@components/blocks/contact-cta.astro";
import HeroCentered from "@components/blocks/hero-centered.astro";
import Layout from "@layouts/layout.astro";
import { cn } from "@utils/classes";
import { getSinglePage } from "@utils/content-parser";
import { Image } from "astro:assets";

const leistungen = await getSinglePage("leistungen");

export const prerender = true;
---

<Layout
  seo={{
    title:
      "Leistungen für Unternehmen: Betriebsmedizin, Arbeitssicherheit, Gefährdungsbeurteilung, BGM",
    description:
      "Entdecken Sie unsere breite Palette an Leistungen, darunter Betriebsmedizin, Arbeitssicherheit, Gefährdungsbeurteilung psychischer Belastungen und betriebliches Gesundheitsmanagement (BGM). Wir setzen uns für die Gesundheit und Sicherheit Ihrer Mitarbeiter ein.",
  }}
>
  <HeroCentered
    title="Unsere vielfältigen Leistungen für Ihr Unternehmen"
    description={`Erfahren Sie mehr über unsere umfassenden Leistungen im Bereich
          Betriebsmedizin, Arbeitssicherheit, Gefährdungsbeurteilung psychischer
          Belastungen und betrieblichem Gesundheitsmanagement (BGM). Wir
          unterstützen Sie bei der Förderung der Mitarbeitergesundheit und
          schaffen ein gesundes Arbeitsumfeld.`}
    class="mt-32"
  />

  <section class="relative py-24 sm:py-32 bg-brand/10 mt-32">
    <div class="mx-auto max-w-8xl px-5vw">
      <div>
        <div
          class="mx-auto -mt-64 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
          {
            leistungen.map((leistung, index) => (
              <article
                class={cn(
                  "relative flex flex-col bg-clip-border rounded-xl bg-white text-foreground overflow-hidden",
                  index === 0 && "lg:col-span-2"
                )}
              >
                <div class="relative bg-clip-border overflow-hidden bg-transparent text-foreground shadow-none m-0 rounded-none">
                  {leistung.data.card.image && (
                    <Image
                      width={index === 0 ? 900 : 500}
                      src={leistung.data.card.image.src}
                      alt={leistung.data.card.image.alt}
                      class="aspect-[16/9] w-full rounded-t-2xl bg-white object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
                    />
                  )}
                </div>
                <div class="flex grow p-4 md:p-6">
                  <div class="flex flex-col group relative">
                    <h2 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-foreground group-hover:text-foreground/80">
                      {leistung.data.card.title}
                    </h2>
                    <p class="mb-4 block antialiased  font-sans text-base leading-relaxed font-normal text-foreground/80 grow">
                      {leistung.data.card.description}
                    </p>
                    <div class="mt-3">
                      <a
                        href={`/unsere-leistungen/${leistung.slug}`}
                        class="underlined mt-6 font-semibold text-brand/90 hover:text-brand transition-colors"
                      >
                        Mehr erfahren →
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            ))
          }
        </div>
      </div>
    </div>
  </section>

  <!-- section für: über uns -->
  <section class="relative py-24 sm:py-32 lg:pb-40 px-5vw">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-foreground sm:text-4xl">
        Bereit für gesunde Arbeitsbedingungen?
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-foreground/80">
        Erfahren Sie, wie wir Ihr Unternehmen nachhaltig unterstützen und die
        Gesundheit Ihrer Mitarbeitenden fördern können. Wir stehen Ihnen für
        alle Fragen rund um unser Angebot zur Verfügung.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/kontakt"
          class="rounded-md bg-brand px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-brand/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand"
        >
          Kontaktieren Sie uns jetzt!</a
        >
      </div>
    </div>
  </section>

  <ContactCta />
</Layout>
