---
import EinzelBeratungBild from "@assets/images/einzel_beratung.jpg";
import LebhaftesBueroBild from "@assets/images/lebhaftes_buero.jpg";
import UmfrageAmMacbookBild from "@assets/images/umfrage_am_macbook.jpg";
import ContactCta from "@components/blocks/contact-cta.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/layout.astro";

const mitgestaltenSections = [
  {
    title: "Arbeitsorganisation",
    description:
      "Wir analysieren Arbeitsabläufe und -aufgaben und gestalten sie menschgerecht.",
  },
  {
    title: "Führungskultur",
    description:
      "Wir coachen Führungskräfte in wertschätzender und gesundheitsfördernder Mitarbeiterführung.",
  },
  {
    title: "Work-Life-Balance",
    description:
      "Wir beraten zu flexiblen Arbeitsmodellen für eine bessere Vereinbarkeit von Beruf und Privatleben.",
  },
  {
    title: "Kommunikation",
    description:
      "Wir moderieren einen konstruktiven Dialog zwischen Mitarbeitern, Führungskräften und Personalvertretung.",
  },
  {
    title: "Arbeitsumgebung",
    description:
      "Wir geben Empfehlungen für eine ergonomische und stimulierende Arbeitsumgebung.",
  },
  {
    title: "Qualifikation",
    description:
      "Wir zeigen Wege für sinnstiftende Aufgaben und persönliche Weiterentwicklung auf.",
  },
];
---

<Layout
  seo={{
    title:
      "Gefährdungsbeurteilung psychischer Belastung nach DIN EN ISO 10075-1",
    description:
      "Vertrauen Sie BESTMED 360 als Ihren Experten für die gesetzlich vorgeschriebene Gefährdungsbeurteilung psychischer Belastung am Arbeitsplatz gemäß DIN EN ISO 10075-1. Gestalten Sie einen gesunden Arbeitsplatz mit unserem Fachteam.",
  }}
>
  <main class="isolate">
    <!-- hero section -->
    <section class="relative isolate -z-10">
      <!-- svg effects -->
      <svg
        class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M.5 200V.5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)"></rect>
      </svg>
      <div
        class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
        aria-hidden="true"
      >
        <div
          class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-brand to-brand/80 opacity-30"
          style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"
        >
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-8xl px-5vw pb-32 pt-36 sm:pt-60 lg:pt-32">
          <!-- content -->
          <div
            class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
          >
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <p class="text-base font-semibold leading-7 text-brand">
                DIN EN ISO 10075-1
              </p>
              <h1
                class="text-3xl font-bold tracking-tight text-foreground sm:text-6xl"
              >
                Gefährdungsbeurteilung psychischer Belastung (GB Psych)
                professionell durchführen
              </h1>
              <p
                class="relative mt-6 text-lg leading-8 text-foreground/80 sm:max-w-md lg:max-w-none"
              >
                Als Ihr kompetenter Partner für die gesetzlich geforderte
                Gefährdungsbeurteilung psychischer Belastung (GB Psych) am
                Arbeitsplatz begleitet Sie das Team von BESTMED 360 bei der
                professionellen Durchführung. Wir helfen Ihnen, die psychische
                Gesundheit Ihrer Mitarbeiter wirksam zu schützen.
              </p>
            </div>
            <div
              class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
            >
              <div
                class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80"
              >
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
              </div>
              <div
                class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36"
              >
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=left&w=400&h=528&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1670272505284-8faba1c31f7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- image section -->
    <section class="relative isolate">
      <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-8xl px-5vw">
        <Image
          src={LebhaftesBueroBild}
          alt="Menschen in einem Lebhaften Loft-Büro"
          class="aspect-[5/2] w-full object-cover xl:rounded-3xl"
          width={2400}
          quality={90}
        />
      </div>
    </section>

    <!-- mitgestalten -->
    <section class="relative py-24 sm:py-32">
      <div class="mx-auto max-w-8xl px-5vw">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2
            class="text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            Für mehr Wohlbefinden und Leistung am Arbeitsplatz
          </h2>
          <p class="mt-6 text-lg leading-8 text-foreground/80">
            Als Experten für Gefährdungsbeurteilungen psychischer Belastungen
            identifizieren wir gemäß DIN EN ISO 10075-1 und GDA die wesentlichen
            Bereiche psychosozialer Belastungen. Gemeinsam erarbeiten wir
            effektive Lösungen, um Ihr Arbeitsumfeld positiv zu gestalten.
          </p>
        </div>
        <dl
          class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
          {
            mitgestaltenSections.map((el) => (
              <div>
                <dt class="font-semibold text-foreground">{el.title}</dt>
                <dd class="mt-1 text-foreground/80">{el.description}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </section>

    <section class="relative overflow-hidden px-5vw py-24 sm:py-32 bg-brand/20">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
        >
          Die Gesundheit Ihrer Mitarbeiter stärken. <br />
           Die Leistung Ihres Unternehmens steigern.
        </h2>
        <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-foreground/80">
          Mit einer psychischen Gefährdungsbeurteilung schaffen Sie die Basis
          für motivierte und leistungsfähige Mitarbeiter. Wir unterstützen Sie
          bei der professionellen Durchführung.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="/kontakt"
            class="rounded-md bg-brand px-3.5 py-2.5 text-lg font-semibold text-white shadow-sm hover:bg-brand/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
            >Kostenlose Erstberatung vereinbaren</a
          >
        </div>
      </div>
    </section>

    <!-- stats -->
    <section class="relative isolate">
      <div class="mx-auto max-w-8xl mt-32 px-5vw sm:mt-40">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2
            class="text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            Psychische Gesundheit am Arbeitsplatz - unser Ansatz für mehr
            Zufriedenheit
          </h2>
          <p class="mt-6 text-lg leading-8 text-foreground/80">
            Wir sind davon überzeugt, dass der Arbeitsplatz das Leben bereichern
            und der Welt einen Mehrwert geben kann. Deshalb setzen wir bei der
            geforderten Gefährdungsbeurteilung psychischer Belastungen (GB
            Psych) auf einen ganzheitlichen Ansatz, der die Zufriedenheit aller
            Beteiligten in den Vordergrund stellt.
          </p>
        </div>
        <div
          class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end"
        >
          <!-- happyness -->
          <div
            class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
          >
            <p
              class="flex-none text-3xl font-bold tracking-tight text-gray-900"
            >
              96%
            </p>
            <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
              <p class="text-2xl font-semibold tracking-tight text-foreground">
                Zufriedenheit der Mitarbeiter
              </p>
              <p
                class="mt-2 text-base font-medium leading-7 text-foreground/80"
              >
                Nach unseren GB Psych Maßnahmen fühlen sich 96% der Mitarbeiter
                wohler und zufriedener am Arbeitsplatz.
              </p>
            </div>
          </div>
          <!-- fehlzeiten -->
          <div
            class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-900 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44"
          >
            <p class="flex-none text-3xl font-bold tracking-tight text-white">
              43%
            </p>
            <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
              <p class="text-2xl font-semibold tracking-tight text-white">
                Reduktion von Fehlzeiten
              </p>
              <p class="mt-2 text-base font-medium leading-7 text-white">
                Durch gezielte Präventionsmaßnahmen konnten wir die
                krankheitsbedingten Fehlzeiten in Unternehmen um
                durchschnittlich 43% reduzieren.
              </p>
            </div>
          </div>
          <!-- boom -->
          <div
            class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-brand/20 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28"
          >
            <p class="flex-none text-3xl font-bold tracking-tight text-black">
              72%
            </p>
            <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
              <p class="text-2xl font-semibold tracking-tight text-black">
                Weniger Fluktuation
              </p>
              <p class="mt-2 text-base font-medium leading-7 text-black">
                72% der Unternehmen berichten über eine geringere Fluktuation,
                nachdem unsere Experten die GB Psych durchgeführt haben.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="relative overflow-hidden px-5vw py-24 sm:py-32">
      <div class="mx-auto max-w-8xl">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="lg:ml-auto lg:pl-4 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2
                class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
              >
                Was Unternehmer und Mitarbeiter wissen sollten
              </h2>
              <p class="mt-6 text-lg leading-8 text-foreground/80">
                Die Überwachungsbehörden fordern von Betrieben die Analyse
                psychischer Belastungen für alle Beschäftigten. Unser
                Expertenteam führt die gesetzlich vorgeschriebene
                Gefährdungsbeurteilung durch.
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
              >
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    Erfahrenes Team.
                  </dt>
                  <dd class="inline">
                    Wir verfügen über langjährige Erfahrung in der
                    Gefährdungsbeurteilung psychischer Belastungen.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    Individuelle Analyse.
                  </dt>
                  <dd class="inline">
                    Wir verfügen über langjährige Erfahrung in der
                    Gefährdungsbeurteilung psychischer Belastungen.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    Gesetzeskonform.
                  </dt>
                  <dd class="inline">
                    Wir verfügen über langjährige Erfahrung in der
                    Gefährdungsbeurteilung psychischer Belastungen.
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="flex items-start justify-end lg:order-first">
            <Image
              src={EinzelBeratungBild}
              alt="Frau in Businesskleidung berät andere Frau zu psychischer Gesundheit"
              class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
              width={950}
            />
          </div>
        </div>
      </div>
    </section>

    <section class="relative overflow-hidden px-5vw py-24 sm:py-32">
      <div class="mx-auto max-w-8xl">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start"
        >
          <div class="lg:pr-4 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2
                class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
              >
                Mitarbeiterbefragung - digital und anonym
              </h2>
              <div class="mt-6 text-lg leading-8 text-foreground/80 space-y-6">
                <p>
                  Mit unserem Online-Tool führen wir die datenschutzkonforme und
                  anonyme Befragung der Mitarbeiter durch (circa 30 Minuten).
                  Wir unterstützen Sie rechtssicher in allen Schritten und
                  helfen bei der Identifikation, Bewertung und Einstufung
                  möglicher Belastungen.
                </p>
                <p>
                  Die Ergebnisse werden professionell aufbereitet nach Risiken,
                  Potenzialen und Ressourcen. Sie erhalten eine Übersicht zum
                  Ist-Zustand mit Handlungsempfehlungen unserer Experten. In
                  Workshops diskutieren wir die Ergebnisse vertiefend. Gemeinsam
                  erarbeiten wir konkrete Maßnahmenpläne, um Risiken zu
                  minimieren und Potenziale optimal zu nutzen. Dabei
                  berücksichtigen wir die verfügbaren Ressourcen, um
                  realistische Lösungen zu entwickeln. Investieren Sie jetzt in
                  die Zukunft Ihres Unternehmens!
                </p>
              </div>
            </div>
          </div>

          <Image
            src={UmfrageAmMacbookBild}
            alt="Frau führt Mitarbeiterbefragung am Macbook durch"
            class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:ml-0"
            width={950}
          />
        </div>
      </div>
    </section>

    <section class="relative overflow-hidden px-5vw py-24 sm:py-32">
      <div class="mx-auto max-w-8xl">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2
            class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            Psychische Gefährdungsbeurteilung <br /> Gründe und Nutzen
          </h2>
          <p class="mt-6 text-lg leading-8 text-foreground/80">
            Eine Analyse psychischer Belastungen bietet Unternehmen viele
            Vorteile. Sie dient der Gesundheitsprävention und steigert
            Motivation und Produktivität der Belegschaft. Wir zeigen, wie Sie
            gesetzliche Pflichten erfüllen und zugleich die Leistungsfähigkeit
            Ihres Betriebs erhöhen.
          </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            <div class="flex flex-col">
              <dt
                class="flex items-center gap-x-3 text-base font-semibold leading-7 text-foreground"
              >
                Mehr Zufriedenheit
              </dt>
              <dd
                class="mt-4 flex flex-auto flex-col text-base leading-7 text-foreground/80"
              >
                <p class="flex-auto">
                  Geringere Fluktuation und bessere Mitarbeiterbindung durch
                  gesundheitsfördernde Maßnahmen.
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt
                class="flex items-center gap-x-3 text-base font-semibold leading-7 text-foreground"
              >
                Prävention
              </dt>
              <dd
                class="mt-4 flex flex-auto flex-col text-base leading-7 text-foreground/80"
              >
                <p class="flex-auto">
                  Vorbeugung von Burnout und Reduzierung psychischer
                  Erkrankungen.
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt
                class="flex items-center gap-x-3 text-base font-semibold leading-7 text-foreground"
              >
                Weniger Ausfälle
              </dt>
              <dd
                class="mt-4 flex flex-auto flex-col text-base leading-7 text-foreground/80"
              >
                <p class="flex-auto">
                  Geringere krankheitsbedingte Fehlzeiten – niedrigere
                  Personalkosten.
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt
                class="flex items-center gap-x-3 text-base font-semibold leading-7 text-foreground"
              >
                Mehr Engagement
              </dt>
              <dd
                class="mt-4 flex flex-auto flex-col text-base leading-7 text-foreground/80"
              >
                <p class="flex-auto">
                  Gesunde und motivierte Mitarbeiter – höhere Produktivität.
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt
                class="flex items-center gap-x-3 text-base font-semibold leading-7 text-foreground"
              >
                Gesetzeskonformität
              </dt>
              <dd
                class="mt-4 flex flex-auto flex-col text-base leading-7 text-foreground/80"
              >
                <p class="flex-auto">
                  Erfüllung der Pflicht zur psychischen Gefährdungsbeurteilung.
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt
                class="flex items-center gap-x-3 text-base font-semibold leading-7 text-foreground"
              >
                Weniger Konflikte
              </dt>
              <dd
                class="mt-4 flex flex-auto flex-col text-base leading-7 text-foreground/80"
              >
                <p class="flex-auto">
                  Verringerung von Spannungen und Streitigkeiten am Arbeitsplatz
                  durch Analyse von Kommunikations- und Kooperationsproblemen.
                </p>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
    <ContactCta />
  </main>
</Layout>
