---
import Logo from "@assets/logo.svg";
import { config, footerMenu } from "@config/index";
import { Image } from "astro:assets";
---

<footer
  class="bg-brand/20 sticky top-[100vh] mt-10"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-8xl px-5vw pb-8 pt-16 sm:pt-24">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <Image src={Logo} alt={config.site.title} class="h-20 w-auto" />
        <address class="text-sm leading-6 text-foreground/80">
          <p>
            „BESTMED 360“ Zentrum für Arbeitsmedizin, Arbeitssicherheit und
            Prävention
          </p>
           Kurfürstendamm 106, 10711 Berlin
        </address>
      </div>

      <div class="mt-16 grid grid-cols-1 gap-8 xl:col-span-2 xl:mt-0">
        <nav
          class="md:grid md:grid-cols-3 md:gap-8"
          aria-label="Footer Navigation"
        >
          {
            footerMenu.map((group) => (
              <div class="mt-10 md:mt-0 first:mt-0">
                <h3
                  id={`${group.title}-label`}
                  class="text-base font-semibold leading-6"
                >
                  {group.title}
                </h3>
                <ul
                  role="menu"
                  aria-labelledby={`${group.title}-label`}
                  class="mt-6 space-y-2"
                >
                  {group.children?.map((item) => (
                    <li role="presentation">
                      <a
                        role="menuitem"
                        href={item.path}
                        class="text-base leading-6 font-medium text-foreground/80 hover:text-foreground/90 underlined"
                      >
                        {item.title}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </nav>
        {/** Footer Content Blocks  */}
      </div>
    </div>
    {/** maybe newsletter? */}
    <div
      class="mt-8 border-t border-gray-900/10 pt-8 md:flex md:items-center md:justify-between"
    >
      <div class="flex space-x-6 md:order-2">
        {/** social icons */}
      </div>
      <p class="mt-8 text-xs leading-5 text-foreground/90 md:order-1 md:mt-0">
        &copy; {new Date().getFullYear()}
        {" "}
        {config.site.title}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
